<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}"/>

</head>

<body>
  <!-- навбар -->
  <div class="container_navbar">
    <div class="navbar">
      <input class="navbar_form faculty_input" type="text" size="10" placeholder="Факультет" readonly>
      <input class="navbar_form direction_input" type="text" size="10" placeholder="Направление" readonly>
      <input class="navbar_form course_input" type="text" size="10" placeholder="Курс" readonly>
      <div class="empty_space"></div>
      <input type="button" class="create_btn" value="Создать">
      <input type="button" class="load_btn" value="Загрузить">
      <input type="button" class="save_btn" value="Сохранить">
    </div>
  </div>
  <!-- нижняя сетка -> столбцы -> пары -->
  <div class="container_field">
    <!-- колонка с временем пар -->
    <div class="time_column">
      <div class="pair_time">8:00-9:30</div>
      <div class="pair_time">9:40-11:10</div>
      <div class="pair_time">11:30-13:00</div>
      <div class="pair_time">13:10-14:40</div>
      <div class="pair_time">15:00-16:30</div>
      <div class="pair_time">16:40-18:10</div>
      <div class="pair_time">18:20-19:50</div>
      <div class="pair_time">20:00-21:30</div>
    </div>

    <!-- карусель с подгруппами -->
    <div class="carousel" id="carousel">
      <button class="switch prev"><</button>

          <div class="subgroups">
            <ul>
              <li class="last_li">
                  <button class="add_subgroup">Добавить группу/подгруппу</button>
              </li>
            </ul>
          </div>

          <button class="switch next">></button>
    </div>
  </div>

  <div id="dialog" hidden></div>

  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/edit.js') }}"></script>
</body>

</html>
